div.log {
    width:550; /* ширина нашего блока */
    height:720px; /* высота нашего блока */
    overflow-y: auto; /* свойство для прокрут    
}

table.list {
    
}
tr.info {
    
}
td.name {
    
}